.nav-item{
    cursor: pointer;
}

.nav-item a{
    color: black;
    font-weight: bold;
}

.nav-item a:hover{
    color: rgb(90, 90, 90);
}

.selected-item{
    color: rgb(167, 167, 167) !important;
}