<div class="container-fluid">
  <h3>Asignación de Rutas</h3>

  <p>
    Seleccione el conductor, agregue las rutas y luego clickee en el boton de
    <strong> <i class="fa fa-save"></i> Guardar </strong>
  </p>
  <hr />
  <div class="d-flex flex-row" *ngIf="isAdd || isEdit">
    <div class="d-flex flex-column">
      <div class="d-flex align-items-center">
        <div class="form-group mr-3">
          <label for="driver_id">Conductor</label>
          <select
            class="form-control"
            name="driver_id"
            id="driver_id"
            [(ngModel)]="selectedAssign.driver_id"
            [disabled]="control"
            (click)="disabled()"
          >
            <option [value]="null" selected disabled>
              Seleccione un conductor
            </option>
            <option *ngFor="let driver of drivers" [value]="driver.id">
              {{ driver.name + " " + driver.surname }}
            </option>
          </select>
          <small class="form-text text-muted pl-1">
            Conductor responsable del camión
          </small>
        </div>

        <div class="form-group mr-3">
          <label for="driver_id">Camión</label>
          <select
            class="form-control"
            name="vehicle_id"
            id="vehicle_id"
            [(ngModel)]="selectedAssign.vehicle_id"
            [disabled]="control"
            (click)="disabled()"
            
          >
            <option [value]="null" selected disabled>
              Seleccione un camión
            </option>
            <option *ngFor="let vehicle of vehicles" [value]="vehicle.id">
              {{  vehicle.registration_no + " - " + vehicle.vehicle_type }}
            </option>
          </select>
          <small class="form-text text-muted pl-1">
            Camión al que se le asginará la ruta 
          </small>
        </div>
        <br>

      </div>
      <div
        class="align-items-center"
        [ngClass]="selectedAssign.driver_id == null || selectedAssign.vehicle_id == null? 'd-none' : 'd-flex'"
      >
        <div class="form-group mr-3">
          <label for="ruta_id">Ruta</label>
          <select class="form-control" (change)="selectRuta($event)">
            <option [value]="null" selected disabled>
              Seleccione una ruta
            </option>
            <option *ngFor="let ruta of rutas; let i = index" [value]="i">
              {{ ruta.name }}
            </option>
          </select>
          <small class="form-text text-muted pl-1">
            Seleccione la ruta que desea agregar
          </small>
        </div>
        <div class="form-group mr-3">
          <label for="day">Día</label>
          <select
            class="form-control"
            name="day"
            id="day"
            [(ngModel)]="horario.day"
          >
            <option [value]="null" selected disabled>Seleccione un día</option>
            <option>Lunes</option>
            <option>Martes</option>
            <option>Miércoles</option>
            <option>Jueves</option>
            <option>Viernes</option>
            <option>Sábado</option>
            <option>Domingo</option>
          </select>
          <small class="form-text text-muted pl-1">
            Seleccione el día para agregar
          </small>
        </div>
        <div class="form-group mr-3">
          <label for="start_hour">Horario</label>
          <div class="d-flex">
            <input
              type="time"
              class="form-control mr-3"
              name="start_hour"
              id="start_hour"
              aria-describedby="horarioHelp"
              placeholder="10:00"
              [(ngModel)]="horario.start_hour"
            />
            <input
              type="time"
              class="form-control mr-3"
              name="end_hour"
              id="end_hour"
              aria-describedby="horarioHelp"
              placeholder="10:00"
              [(ngModel)]="horario.end_hour"
            />
          </div>
          <small id="horarioHelp" class="form-text text-muted pl-1">
            Ingresa la hora de entrada y salida
          </small>
        </div>
        <button type="button" class="btn btn-warning" (click)="addHorario()">
          <i class="fa fa-plus"></i>&nbsp;Agregar
        </button>
        <button
          type="button"
          class="btn btn-success ml-4"
          *ngIf="selectedAssign.driver_id"
          (click)="saveAssign()"
        >
          <i class="fa fa-save" aria-hidden="true"></i>&nbsp;Guardar
        </button>
      </div>
      <p *ngIf="selectedAssign.driver_id && selectedAssign.vehicle_id">
        Puede hacer click en uno de estos horarios para visualizar la ruta
        registrada.
      </p>
      <div class="btn-group block d-block" role="group">
        <ng-container
          *ngFor="let horario of selectedAssign.horarios; let a = index"
        >
          <button
            class="badge btn-primary badge badge-primary"
            (click)="showRuta(horario.road)"
          >
            {{ horario.road.name }}.&nbsp;{{ horario.day }}:&nbsp;
            {{ horario.start_hour }}&nbsp;-&nbsp;
            {{ horario.end_hour }}
          </button>
          <button class="badge btn-danger" (click)="removeHorario(a)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
          <br />
        </ng-container>
      </div>
    </div>
    <div
      class="container-fluid mw-20 text-center"
      *ngIf="selectedAssign.driver"
    >
      <img [src]="selectedAssign.driver.profilePhoto" class="img-thumbnail" />
    </div>
  </div>
  <p *ngIf="selectedAssign.driver_id && selectedAssign.vehicle_id">
    Asegúrese de que los horarios no se repitan.
  </p>
  <hr />
  <button
    type="button"
    class="btn btn-primary mb-3"
    (click)="newAssign()"
  >
    Nuevo registro <i class="fa fa-plus" aria-hidden="true"></i>
  </button>
  <table
    datatable
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    class="row-border hover text-center"
  >
    <thead>
      <tr>
        <th>Conductor</th>
        <th>Vehículo</th>
        <th>Horarios</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let assign of assigns; let i = index">
        <tr>
          <td>{{ assign.driver.name }}&nbsp;{{ assign.driver.surname }}</td>
          <td>{{  assign.vehicle.brand + " " +assign.vehicle.model + " " + assign.vehicle.year+ " - " +assign.vehicle.registration_no }}</td> 
          <td>
            <span
              class="badge badge-warning mr-1 cursor-pointer"
              *ngFor="let horario of assign.horarios"
            >
              {{ horario.road.name }}.&nbsp;{{ horario.day }}:&nbsp;
              {{ horario.start_hour }}&nbsp;-&nbsp; {{ horario.end_hour }}
            </span>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              (click)="selectAssign(i)"
              (click)="disabled()"
            >
              <i class="fa fa-eye" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <hr />
  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    *ngIf="selectedRuta"
  >
    <agm-map-type-control></agm-map-type-control>
    <agm-direction
      *ngIf="selectedRuta"
      [origin]="selectedRuta.origin"
      [destination]="selectedRuta.destination"
      [waypoints]="selectedRuta.waypoints"
      [renderOptions]="renderOptions"
    >
    </agm-direction>
  </agm-map>
</div>
