<div class="d-flex align-content-center justify-content-end">
  <div class="flex-grow-1 mr-3">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <agm-map-type-control></agm-map-type-control>

      <agm-direction
        *ngIf="selectedRutaView"
        [origin]="selectedRutaView.origin"
        [destination]="selectedRutaView.destination"
        [waypoints]="selectedRutaView.waypoints"
        [renderOptions]="renderOptions"
        (onChange)="change($event)"
      >
      </agm-direction>
      <ng-container *ngFor="let driver of drivers">
        <agm-marker
          *ngIf="driver.location"
          [latitude]="driver.location.latLng.lat"
          [longitude]="driver.location.latLng.lng"
          [markerClickable]="false"
          [iconUrl]="
            'https://ui-avatars.com/api/?name=' +
            driver.name +
            ' ' +
            driver.surname +
            '&size=36&rounded=true&background=random'
          "
        ></agm-marker>
      </ng-container>
    </agm-map>
  </div>
  <div>
    <h4>Rutas Registradas:</h4>
    <ul class="list-group">
      <li
        class="list-group-item d-flex align-content-center justify-content-end"
        *ngFor="let ruta of rutas"
      >
        <span class="flex-grow-1">
          {{ ruta.name }}
        </span>
        <div class="btn-toolbar" role="toolbar" aria-label="Acciones de ruta">
          <div class="btn-group mr-2" role="group">
            <button class="badge btn btn-primary" (click)="showRuta(ruta)">
              <i class="fa fa-eye"></i>&nbsp;Ver
            </button>
          </div>
        </div>
      </li>
    </ul>
    <hr />
    <h4>Conductores</h4>
    <ul class="list-group" *ngIf="drivers">
      <li
        class="list-group-item"
        *ngFor="let driver of drivers | orderBy: 'last_login'"
        (click)="viewDriver(driver)"
      >
        {{ driver.name }}&nbsp;{{ driver.surname }}
        <br />
        <strong>Ubicación:</strong>
        <br />
        <div class="block">
          <span> Lat:&nbsp;{{ driver.location.latLng.lat + ", " }} </span>
          <br />
          <span> Lng:&nbsp;{{ driver.location.latLng.lng }} </span>
        </div>
        <strong>Última vez:</strong>
        <br />
        {{ getRelativeTime(driver.last_login) }}
      </li>
    </ul>
  </div>
</div>
