<div class="container-fluid">
  <h2>
    {{ title }}
  </h2>

  <hr />
  <table
    datatable
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    class="row-border hover text-center"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>Identificación</th>
        <th>Apellidos</th>
        <th>Nombres</th>
        <th>Email</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let person of users">
        <tr *ngIf="person.role == roleShow">
          <td>{{ person.id }}</td>
          <td>{{ person.dni }}</td>
          <td>{{ person.surname }}</td>
          <td>{{ person.name }}</td>
          <td>{{ person.email }}</td>
          <td>
            <a
              name=""
              id=""
              class="btn btn-primary"
              [routerLink]="['/users', person.id]"
              role="button"
            >
              <i class="fa fa-eye" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
