<div class="container-fluid">
  <h2>Administradores</h2>
  <a
    name="btnNewUser"
    id="btnNewUser"
    class="btn btn-primary"
    [routerLink]="['/new-user']"
    role="button"
  >
    <i class="fa fa-user-plus" aria-hidden="true"></i>
    Nuevo usuario
  </a>
  <hr />
  <table
    datatable
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    class="row-border hover text-center"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>Identificación</th>
        <th>Apellidos</th>
        <th>Nombres</th>
        <th>Email</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of users">
        <td>{{ person.id }}</td>
        <td>{{ person.dni }}</td>
        <td>{{ person.surname }}</td>
        <td>{{ person.name }}</td>
        <td>{{ person.email }}</td>
        <td>
          <a
            name=""
            id=""
            class="btn btn-primary"
            [routerLink]="['/users', person.id]"
            role="button"
          >
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
