<div class="d-flex align-content-center justify-content-end">
  <div class="flex-grow-1 mr-3">
    <agm-map
      #gm
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      (centerChange)="onCenterChange($event)"
    >
      <agm-map-type-control></agm-map-type-control>
      <agm-direction
        *ngIf="selectedRutaView"
        [origin]="selectedRutaView.origin"
        [destination]="selectedRutaView.destination"
        [waypoints]="selectedRutaView.waypoints"
        [renderOptions]="{
          polylineOptions: {
            strokeColor: color
          }
        }"
      >
      </agm-direction>
      <ng-container *ngIf="!selectedRutaView">
        <agm-direction
          *ngFor="let ruta of rutas; let i = index"
          [origin]="ruta.origin"
          [destination]="ruta.destination"
          [waypoints]="ruta.waypoints"
          [renderOptions]="{
            polylineOptions: {
              strokeColor: colors[i]
            }
          }"
        ></agm-direction>
      </ng-container>
      <agm-marker
        *ngIf="selectedMarker"
        [visible]="isEditing || isNew"
        [latitude]="selectedMarker.lat"
        [longitude]="selectedMarker.lng"
        [markerDraggable]="true"
        (dragEnd)="showEvent($event)"
        [iconURL]="'assets/img/delete.png'"
      ></agm-marker>
      <agm-marker
        *ngFor="let marker of markers"
        [visible]="marker.visible"
        [latitude]="marker.lat"
        [longitude]="marker.lng"
        [markerDraggable]="isEditing"
        (dragEnd)="showEvent($event)"
        [iconUrl]="{
          url: 'assets/img/delete.png',
          scaledSize: {
            width: 25,
            height: 25
          }
        }"
      ></agm-marker>
    </agm-map>
    <div
      *ngIf="isEditing || isNew"
      class="alert alert-primary my-0 py-0 rounded-0 border-danger"
      role="alert"
    >
      <span>
        <i class="fa fa-question-circle" aria-hidden="true"></i>
        &nbsp; Arrastre el marcador quede hasta que quede ubicado en el lugar
        deseado
      </span>
    </div>
  </div>
  <div style="max-width: 25%">
    <h4>Puntos de recolección:</h4>
    <p>Seleccione una ruta para establecer su punto de recolección.</p>
    <hr />
    <ul class="list-group">
      <li
        class="list-group-item d-flex"
        *ngFor="let ruta of rutas; let i = index"
      >




        <div [className]="card[i] ? 'd-flex direction' : 'd-flex direction-r' ">
        <!--  <div class="d-flex"> -->
          <div
            [className]="card[i] ? 'flex-grow-1 text-center no-border' : 'flex-grow-1 text-center txt ' "
            
            [style.border-bottom]="'1px solid ' + colors[i]"
          >
            {{ ruta.name }}
          </div>
          <div class="btn-toolbar" role="toolbar" aria-label="Acciones de ruta">
            <div class="btn-group mr-2" role="group">
              <button
                class="badge btn btn-primary"
                (click)="showMarkersOfRuta(i)"
              >
                <i class="fa fa-eye"></i>&nbsp;Ver puntos
              </button>
            </div>
          </div>
        <!-- </div> -->
        </div>

        <div>
          <ul class="list-group" *ngIf="card[i]">
            <li
              class="list-group-item d-flex align-content-center justify-content-end"
              style="flex-direction: column !important;"
              *ngFor="let marker of markers; let i = index"
            >
              <div class="btn-group mr-2" role="group">
                <button class="badge btn btn-primary" (click)="showMarker(i)">
                  <i class="fa fa-eye"></i>
                </button>
                <button
                  class="badge btn btn-warning"
                  (click)="editMarker(i)"
                  *ngIf="allowEdit"
                >
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  class="badge btn btn-danger"
                  (click)="removeMarker(i)"
                  *ngIf="allowEdit"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </div>
              <div>
                <span class="mr-1 flex-grow-1 text-center">
                  {{ marker.description }}
                </span>
              </div>
            </li>
          </ul>
        </div>
        
      </li>
      
    </ul>

    



    
    <hr />
    <div
      class="btn-group mr-2"
      role="group"
      *ngIf="selectedRutaView"
      style="display: inline-grid"
    >
       <strong>
        {{ selectedRutaView.name }}
       </strong>
    </div>
    <div *ngIf="btn_save">
      <button class="badge btn btn-primary" (click)="createMarker()">
        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Crear nuevo Punto
      </button>
    </div>
    
    
    <!-- <button class="badge btn btn-primary" (click)="createMarker()">
      <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Crear nuevo
    </button> -->
    
    
    
    
    
    <!-- <div class="form-group mt-1 mb-0" *ngIf="selectedMarker"> -->
      <div class="form-group mt-1 mb-0" *ngIf="isNew || isEditing">
      <hr>
      <h6>
        {{ selectedMarker.title }}
      </h6>
      <br />
      <label for="description">Nombre o Descripción:</label>
      <input
        type="text"
        class="form-control"
        name="description"
        id="description"
        aria-describedby="markerDescriptionHelp"
        placeholder="Identifique el punto"
        [(ngModel)]="selectedMarker.description"
        [disabled]="selectedMarker.title == 'Cargando...' || isShow"
      />
      <small id="markerDescriptionHelp" class="form-text text-muted">
        Escriba un nombre que permita identificar el punto
      </small>
      <div class="row">
        <div class="col col-12 col-lg-6">
          <button
            type="button"
            class="btn btn-primary"
            [className]="btn_save ? 'btn btn-primary' : 'btn btn-success' "
            [disabled]="
              (!selectedMarker.description ||
                !selectedMarker.title ||
                isShow) && 
              !selectedMarker.description != 'Cargando...'
            "
            (click)="saveMarker()"
          >
            <i class="fa fa-save" aria-hidden="true"></i>
            &nbsp; {{title}}
          </button>
        </div>
      </div>
    </div>



    <!-- <hr *ngIf="selectedRutaView" />
    <ul class="list-group">
      <li
        class="list-group-item d-flex align-content-center justify-content-end"
        *ngFor="let marker of markers; let i = index"
      >
        <div class="btn-group mr-2" role="group">
          <button class="badge btn btn-primary" (click)="showMarker(i)">
            <i class="fa fa-eye"></i>
          </button>
          <button
            class="badge btn btn-warning"
            (click)="editMarker(i)"
            *ngIf="allowEdit"
          >
            <i class="fa fa-edit"></i>
          </button>
          <button
            class="badge btn btn-danger"
            (click)="removeMarker(i)"
            *ngIf="allowEdit"
          >
            <i class="fa fa-trash"></i>
          </button>
        </div>
        <span class="mr-1 flex-grow-1">
          {{ marker.description }}
        </span>
      </li>
    </ul> -->
  </div>
</div>
