<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Ajustes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div style="display: flex; justify-content: center">
          <ion-avatar>
            <img
              src="https://ui-avatars.com/api/?name={{user.name+' '+user.surname}}"
            />
          </ion-avatar>
        </div>
        <hr />
        <h5>
          {{user.name+' '+user.surname}}
          <ng-container *ngIf="user.verified; else notVerified">
            <i class="fa fa-check-circle" color="success"></i>
          </ng-container>
          <ng-template #notVerified>
            <i class="fa fa-times-circle" color="danger"></i>
          </ng-template>
        </h5>
        <h6>DNI: {{user.dni}}</h6>
        <h6>Licencia: {{user.licencia}}</h6>
        <h6>Teléfono: {{user.telefono}}</h6>
        <hr />
        <ion-button color="danger" (click)="authService.logout()">
          Salir <i class="fa fa-sign-out"></i>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
